.Button2{
    padding: 1.5rem 3.6rem;

    border-radius: 2.4rem;

    color: #fff;
    background-color: #9CB8FC;


    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.2rem;

    cursor: pointer;
}