.Login{
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    &_container{
        .Logo_background{
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;

            width: 100%;
        }
        .Login_content{
            position: relative;
            z-index: 2;

            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .Login_link{
            
        }
        .Login_box{
            display: flex;
            flex-direction: column;
            align-items: center;

            max-width: 62rem;
            min-width: 62rem;

            padding: 4.5rem 8.6rem 6rem 8.6rem;

            background: rgba(255, 255, 255, 0.9);
            border-radius: 2rem;
            &_header{
                font-weight: 600;
                font-size: 3rem;
                line-height: 120%;

                margin-bottom: 3.2rem;
            }
            form {
                position: relative;

                display: flex;
                flex-direction: column;
                align-items: center;

                width: 100%;
                div{
                    position: relative;
                    width: 100%;
                }
            }
            .Form_error{
                position: absolute;

                width: 100%;

                padding: 0 1rem;

                color: #ff7070;
            
                font-weight: 500;
                font-size: 1rem;
                line-height: 120%;

                bottom: 0;
            }
            .Form_description{
                text-align: center;

                font-weight: 500;
                font-size: 1.2rem;
                line-height: 120%;

                color: #000;
                a{
                    color: #9CB8FC;
                    margin-left: 1rem;
                }
            }
        }
    }
}